.button-panel-container {
  width: 700px;
  height: 500px;
  border: 1px solid #d8d8d8;
  border-top: none;
  box-sizing: border-box;
  display: flex;
  background-color: #e0e0e0;
}

.header {
  margin: 0;
}

.number-panel {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.number-row {
  width: 100%;
  height: 100px;
  display: flex;
}
