.display-container {
  box-sizing: border-box;
  width: 40%;
  height: 70px;
  border: none;
  border-bottom: 1px solid #d8d8d8;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px;
  color: white;
  background-color: #858694;
}

.result-display {
  margin: 0;
  font-size: 29px;
}
